# SeatGeek API Credentials
SEATGEEK_CLIENT_ID=YOUR_SEATGEEK_CLIENT_ID
SEATGEEK_CLIENT_SECRET=YOUR_SEATGEEK_CLIENT_SECRET

# Ticketmaster API Credentials
TICKETMASTER_API_KEY=YOUR_TICKETMASTER_API_KEY
TICKETMASTER_CONSUMER_SECRET=YOUR_TICKETMASTER_CONSUMER_SECRET

# Firebase Functions
FUNCTIONS_BASE_URL=https://your-region-your-project-id.cloudfunctions.net/api

# PayTR Credentials
PAYTR_MERCHANT_ID=YOUR_MERCHANT_ID
PAYTR_MERCHANT_KEY=YOUR_MERCHANT_KEY
PAYTR_MERCHANT_SALT=YOUR_MERCHANT_SALT
PAYTR_TEST_MODE=1
